<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">CodingKrishna</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-tutorial" class="nav-link">Add Tutorial</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-user" class="nav-link">Add User</a>
      </li>
      <li class="nav-item">
        <a routerLink="calculator" class="nav-link">Calculator</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
